<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.service.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.social.service.domain.Goods">
    <constructor>
      <idArg column="goodsId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="peopleId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publicId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="peopleName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="peopleHead" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goodsId, peopleId, publicId, peopleName, peopleHead
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from social_goods
    where goodsId = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from social_goods
    where goodsId = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.social.service.domain.Goods">
    insert into social_goods (goodsId, peopleId, publicId,
      peopleName, peopleHead)
    values (#{goodsId,jdbcType=VARCHAR}, #{peopleId,jdbcType=VARCHAR}, #{publicId,jdbcType=VARCHAR},
      #{peopleName,jdbcType=VARCHAR}, #{peopleHead,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.social.service.domain.Goods">
    insert into social_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goodsId,
      </if>
      <if test="peopleId != null">
        peopleId,
      </if>
      <if test="publicId != null">
        publicId,
      </if>
      <if test="peopleName != null">
        peopleName,
      </if>
      <if test="peopleHead != null">
        peopleHead,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="peopleId != null">
        #{peopleId,jdbcType=VARCHAR},
      </if>
      <if test="publicId != null">
        #{publicId,jdbcType=VARCHAR},
      </if>
      <if test="peopleName != null">
        #{peopleName,jdbcType=VARCHAR},
      </if>
      <if test="peopleHead != null">
        #{peopleHead,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.social.service.domain.Goods">
    update social_goods
    <set>
      <if test="peopleId != null">
        peopleId = #{peopleId,jdbcType=VARCHAR},
      </if>
      <if test="publicId != null">
        publicId = #{publicId,jdbcType=VARCHAR},
      </if>
      <if test="peopleName != null">
        peopleName = #{peopleName,jdbcType=VARCHAR},
      </if>
      <if test="peopleHead != null">
        peopleHead = #{peopleHead,jdbcType=VARCHAR},
      </if>
    </set>
    where goodsId = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.social.service.domain.Goods">
    update social_goods
    set peopleId = #{peopleId,jdbcType=VARCHAR},
      publicId = #{publicId,jdbcType=VARCHAR},
      peopleName = #{peopleName,jdbcType=VARCHAR},
      peopleHead = #{peopleHead,jdbcType=VARCHAR}
    where goodsId = #{goodsId,jdbcType=VARCHAR}
  </update>
</mapper>
