<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.service.dao.SPublicMapper">
  <resultMap id="BaseResultMap" type="com.social.service.domain.SPublic">
    <constructor>
      <idArg column="shareId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shareName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shareUrl" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="shareText" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="isPublic" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="location" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="latitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="longitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    shareId, userId, shareName, shareUrl, shareText, createTime,
    isPublic, type, loaction, latitude, longitude
  </sql>
  <insert id="insert" parameterType="com.social.service.domain.SPublic">
    insert into social_public (shareId, userId, shareName,
      shareUrl, shareText, createTime,
      isPublic, type, location, latitude, longitude
      )
    values (#{shareId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{shareName,jdbcType=VARCHAR},
      #{shareUrl,jdbcType=LONGVARCHAR}, #{shareText,jdbcType=LONGVARCHAR}, now(),
      #{isPublic,jdbcType=INTEGER}, #{type, jdbcType=VARCHAR}, #{location, jdbcType=VARCHAR},
      #{latitude, jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.social.service.domain.SPublic">
    insert into social_public
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        shareId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="shareName != null">
        shareName,
      </if>
      <if test="shareUrl != null">
        shareUrl,
      </if>
      <if test="shareText != null">
        shareText,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="isPublic != null">
        isPublic,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        #{shareId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shareName != null">
        #{shareName,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        #{shareUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="shareText != null">
        #{shareText,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null">
        now(),
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude, jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        #{longitude, jdbcType=DOUBLE}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.social.service.domain.SPublic">
    update social_public
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shareName != null">
        shareName = #{shareName,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        shareUrl = #{shareUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="shareText != null">
        shareText = #{shareText,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null">
        createTime = now(),
      </if>
      <if test="isPublic != null">
        isPublic = #{isPublic,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE}
      </if>
    </set>
    where shareId = #{shareId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.social.service.domain.SPublic">
    update social_public
    set userId = #{userId,jdbcType=VARCHAR},
      shareName = #{shareName,jdbcType=VARCHAR},
      shareUrl = #{shareUrl,jdbcType=LONGVARCHAR},
      shareText = #{shareText,jdbcType=LONGVARCHAR},
      createTime = now(),
      isPublic = #{isPublic,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DOUBLE},
      longitude = #{longitude,jdbcType=DOUBLE}
    where shareId = #{shareId,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="searchPublish">
    select
     a.shareId, a.userId, b.name as userName, b.img as userHead, b.sex as userSex, a.shareName, a.shareUrl,
     a.shareText, a.createTime, a.isPublic, a.type, a.location, a.latitude, a.longitude
     from social_public as a
     join social_user as b
    where shareId = #{shareId,jdbcType=VARCHAR} and a.userId = b.id
  </select>

  <select id="selectByShareId" parameterType="java.lang.String" resultMap="searchPublish">
    select
     a.shareId, a.userId, b.name as userName, b.img as userHead, b.sex as userSex, a.shareName, a.shareUrl,
     a.shareText, a.createTime, a.isPublic, a.type, a.location, a.latitude, a.longitude
     from social_public as a
     join social_user as b
    where shareId = #{shareId,jdbcType=VARCHAR} and a.userId = b.id
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from social_public
    where shareId = #{shareId,jdbcType=VARCHAR}
  </delete>

  <resultMap id="searchPublish" type="com.social.service.domain.PublicedEntity">
    <id column="shareId" property="shareId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userHead" property="userHead" jdbcType="VARCHAR" />
    <result column="userSex" property="userSex" jdbcType="INTEGER" />
    <result column="shareName" property="shareName" jdbcType="VARCHAR" />
    <result column="shareUrl" property="shareUrl" jdbcType="LONGVARCHAR" />
    <result column="shareText" property="shareText" jdbcType="LONGVARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="isPublic" property="isPublic" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
  <!--   publishId 为查询 findRoleById 的入参, id 和 role_status 为查询 findUsers 的结果信息
     如果查询 findByGoodsId 需要 roleId 作为入参, column 写法 {userId=id,roleStatus=role_status,roleId=role_id} -->
    <collection property="goodsList" javaType="java.util.ArrayList" ofType="com.social.service.domain.Goods"
                select="findByGoodsId" column="shareId"/>
    <collection property="reviewEntities" ofType="com.social.service.domain.ReviewEntity"
                select="findByReviewId" column="shareId"/>
  </resultMap>

  <select id="findByGoodsId" resultType="com.social.service.domain.Goods">
    select a.goodsId as goodsId, a.peopleId as peopleId, a.publicId as publicId, b.name as peopleName, b.img as peopleHead, a.goodsTime
    from social_goods as a join social_user as b
    where a.publicId=#{selectId} and b.id = a.peopleId order by a.goodsTime asc
  </select>

  <resultMap id="myReviewMap" type="com.social.service.domain.ReviewEntity">
    <id column="reviewId" property="reviewId" jdbcType="VARCHAR"/>
    <result column="peopleId" property="peopleId" jdbcType="VARCHAR"/>
    <result column="publishId" property="publishId" jdbcType="VARCHAR"/>
    <result column="reviewText" property="reviewText" jdbcType="VARCHAR"/>
    <result column="peopleName" property="peopleName" jdbcType="VARCHAR"/>
    <result column="peopleHead" property="peopleHead" jdbcType="VARCHAR"/>
    <result column="reviewTime" property="reviewTime" jdbcType="TIMESTAMP"/>
    <collection property="chatReviewList" javaType="java.util.ArrayList" ofType="com.social.service.domain.ChatReviewEntity"
                select="findChatReview" column="reviewId"/>
  </resultMap>

  <select id="findChatReview" resultType="com.social.service.domain.ChatReviewEntity">
    select a.reviewChatId, a.reviewId, a.talkId, a.toId, b.name as talkName, b.img as talkHead, c.name as toName,
    c.img as toHead, a.chatText, a.chatTime
    from social_chat_review as a join social_user as b join social_user as c
    where reviewId=#{reviewId} and b.id=a.talkId and c.id=a.toId order by a.chatTime asc
  </select>

  <select id="findByReviewId" resultMap="myReviewMap">
    select a.reviewId as reviewId, a.peopleId as peopleId, a.publicId as publishId,a.reviewText as reviewText,
    b.name as peopleName, b.img as peopleHead, a.reviewTime
    from social_review as a join social_user as b
    where a.publicId=#{selectId} and b.id=a.peopleId order by a.reviewTime asc
  </select>

  <select id="getSocialPublicSize" resultMap="searchPublish">
    select
     a.shareId, a.userId, b.name as userName, b.img as userHead, b.sex as userSex, a.shareName, a.shareUrl,
     a.shareText, a.createTime, a.isPublic, a.type, a.location, a.latitude, a.longitude
     from social_public as a
     join social_user as b
     where a.userId = b.id
     order by rand() limit 10
  </select>

  <select id="getSocialByUserId" parameterType="map" resultMap="searchPublish">
    select a.shareId,a.userId,b.name as userName, b.img as userHead, b.sex as userSex, a.shareName,a.shareUrl,
     a.shareText,a.createTime,a.isPublic, a.type, a.location, a.latitude, a.longitude
     from social_public as a
     join social_user as b
      where a.userId=#{userId} and b.id=#{userId}
      limit #{start},#{end}
  </select>

  <select id="getAllCount" resultType="java.lang.Integer">
    select count(*) from social_public
  </select>
</mapper>
